body {
  background-color: #f2f2f5;
  color: #03ad8c;
}

.App {
  margin-top: 3rem;
  text-align: center;

  .App-constructionlogo {
    margin-top: 1rem;
    height: 40vmin;
  }
  p {
    color: #111;
  }
}
